html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

.section {
  height: 100vh;
  scroll-snap-align: center;
  /* padding-left: 4em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  max-width: 90%;
  margin: 30px 20px 30px;
  overflow: auto;
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-left: 4em;
  }

  #container {
    max-width: 60%;
    padding-left: 4em;
  }
}

.welcome {
  background-color: #264653ff;
}

.questions {
  background: #2a9d8f;
}

.rounds {
  background: #a7acd9;
}

.quiz {
  background: #f4a261;
}

.card {
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  color: white;
}

.card-details {
  padding: 16px 8px 8px 8px;
  overflow: auto;
}

.card-details-header {
  color: #f4a261;
  font-size: xx-large;
  font-weight: 700;
}

.card-details-header-number {
  font-size: large;
  font-weight: 700;
  color: white;
}

@media only screen and (min-width: 1280px) {
  .card-details-header {
    font-size: 110px;
  }

  .card-details-header-number {
    font-size: 48px;
  }
}

.card-details-text {
  padding-top: 10px;
}

.mm-header-size {
  font-size: xx-large;
  font-weight: bold;
}

.mm-questions-color {
  color: #043b35;
}

.mm-rounds-color {
  color: #5d6396;
}

.mm-quiz {
  overflow-x: hidden;
  overflow-y: auto;
}

.mm-quiz-color {
  color: #264653;
}

.mm-button-start {
  background-color: #264653;
  border: 1px solid #f4a261;
  border-radius: 4px;
  font-family: OpenSans-Bold;
  font-size: 28px;
  color: #f4a261;
  text-align: center;
  line-height: 24px;
  padding: 12px 24px;
  margin-top: 5vh;
  transition-duration: 0.4s;
  cursor: pointer;
}

.mm-step-text {
  padding-top: 3vh;
  font-size: smaller;
}

.mm-input-questions {
  border: none;
  border-bottom: 4px solid #043b35;
}

.mm-input-text {
  font-size: xx-large;
  text-align: center;
  color: #e9c46a;
  width: 10vw;
}

.mm-input-rounds {
  border: none;
  border-bottom: 4px solid #264653;
}

.mm-button-start:hover {
  background-color: #264653;
  color: white;
}

.mm-quiz-h1 {
  display: block;
  font-size: 16px;
  color: #264653;
  line-height: 38px;
}

.mm-quiz-h2 {
  display: block;
  font-size: 48px;
  font-weight: bold;
  color: #264653;
  line-height: 38px;
}

.mm-quiz-summary {
  display: grid;
  justify-content: space-evenly;
  margin-top: 10px;
  border: 4px solid #e9c46a;
}

.mm-quiz-summary-number {
  color: #e9c46a;
  font-size: larger;
  font-weight: 700;
  padding: 0 10px 0 10px;
}

.mm-quiz-summary-text {
  font-size: large;
}

.mm-quiz-container {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  justify-content: space-evenly;
  /* margin-top: 5vh; */
}

.mm-quiz-round-container {
  color: #264653;
  text-align: left;
  border: 4px solid #e9c46a;
  border-radius: 4px;
}

.mm-quiz-round-container-header {
  font-size: large;
  font-family: OpenSans-Bold;
  text-align: center;
}

.mm-quiz-round-container-questions {
  font-size: small;
}

ol {
  padding: 10px;
  text-align: left;
  list-style-position: inside;
}

ol li {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1280px) {
  .mm-header-size {
    font-size: 48px;
    font-weight: bold;
  }

  .mm-quiz-summary {
    grid-template-columns: 30% 30% 40%;
  }

  .mm-quiz-summary-number {
    font-size: xx-large;
  }

  .mm-quiz-round-container-header {
    font-size: x-large;
  }

  .mm-quiz-container {
    grid-template-columns: 50% 50%;
  }
}
