@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-hue: 200;
  --base-sat: 75%;

  /* full color palette, from dark to light */
  --clr-10: hsl(var(--base-hue), var(--base-sat), 10%);
  --clr-20: hsl(var(--base-hue), var(--base-sat), 20%);
  --clr-30: hsl(var(--base-hue), var(--base-sat), 30%);
  --clr-40: hsl(var(--base-hue), var(--base-sat), 40%);
  --clr-50: hsl(var(--base-hue), var(--base-sat), 50%);
  --clr-60: hsl(var(--base-hue), var(--base-sat), 60%);
  --clr-70: hsl(var(--base-hue), var(--base-sat), 70%);
  --clr-80: hsl(var(--base-hue), var(--base-sat), 80%);
  --clr-90: hsl(var(--base-hue), var(--base-sat), 90%);
  --clr-95: hsl(var(--base-hue), var(--base-sat), 95%);

  --primary-lightness: 50%;

  /* primary color in varying opacity levels */
  --primary: hsl(var(--base-hue), var(--base-sat), var(--primary-lightness));
  --primary-75: hsla(
    var(--base-hue),
    var(--base-sat),
    var(--primary-lightness),
    75%
  );
  --primary-50: hsla(
    var(--base-hue),
    var(--base-sat),
    var(--primary-lightness),
    50%
  );
  --primary-25: hsla(
    var(--base-hue),
    var(--base-sat),
    var(--primary-lightness),
    25%
  );
  --primary-15: hsla(
    var(--base-hue),
    var(--base-sat),
    var(--primary-lightness),
    15%
  );
  --primary-10: hsla(
    var(--base-hue),
    var(--base-sat),
    var(--primary-lightness),
    10%
  );

  --accent-hue: calc(var(--base-hue) + 90);
  --accent-lightness: 50%;

  /* accent color in varying opacity levels */
  --accent: hsl(var(--accent-hue), var(--base-sat), var(--accent-lightness));
  --accent-75: hsla(
    var(--accent-hue),
    var(--base-sat),
    var(--accent-lightness),
    75%
  );
  --accent-50: hsla(
    var(--accent-hue),
    var(--base-sat),
    var(--accent-lightness),
    50%
  );
  --accent-25: hsla(
    var(--accent-hue),
    var(--base-sat),
    var(--accent-lightness),
    25%
  );
  --accent-15: hsla(
    var(--accent-hue),
    var(--base-sat),
    var(--accent-lightness),
    15%
  );
  --accent-10: hsla(
    var(--accent-hue),
    var(--base-sat),
    var(--accent-lightness),
    10%
  );

  --primary-color: rgb(38, 70, 83);
  --secondary-color: rgb(233, 196, 106);
  --header-color: rgb(45, 83, 98);

  color: var(--clr-95, white);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  scrollbar-gutter: auto;
}

body {
  background-color: var(--clr-10, white);
}

h1 {
  color: var(--clr-70);
}

.text-clickable {
  cursor: pointer;
}

button {
  background-color: var(--primary-10);
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
    url("fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Thin.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Thin.woff") format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-ThinItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-ExtraLight.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-ExtraLightItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-ExtraLightItalic.woff")
      format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Light.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Light.woff") format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-LightItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Regular.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Regular.woff") format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-Italic.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Italic.woff") format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Medium.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Medium.woff") format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-MediumItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-MediumItalic.woff")
      format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-SemiBold.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-SemiBoldItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-SemiBoldItalic.woff")
      format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Bold.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Bold.woff") format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-BoldItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-ExtraBold.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-ExtraBoldItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-ExtraBoldItalic.woff")
      format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/Montserrat/MontserratAlternates-Black.woff2") format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-Black.woff") format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: italic;
  src: url("fonts/Montserrat/MontserratAlternates-BlackItalic.woff2")
      format("woff2"),
    url("fonts/Montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
